$header-height: 60px;
$wrap-width: 1100px;
%shadow{
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

$font-xxs: 8px;
$font-xs: 12px;
$font-s: 16px;
$font-m: 20px;
$font-l: 24px;
$font-xl: 28px;
$font-xxl: 32px;

$base-font-color : #333;
$primary-color: #409EFF;
$success-color: #67C23A;
$warning-color: #E6A23C;
$danger-color: #F56C6C;
$info-color: #909399;